DATABASE_URL=Host=db;Database=arenamaster;Username=postgres;Password=postgres
JWT_SECRET=your-very-long-secret-key-here-min-32-chars
JWT_ISSUER=arenamaster.ua
JWT_AUDIENCE=arenamaster.ua
UNSPLASH_ACCESS_KEY=sOtYUya2BmlLxB977Bw1vEQhxtA2k_taf4eJMuV_1SI
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FRONTEND_URL=http://localhost:5173
